{{ "<!-- SIGN -->" | safeHTML }}
<section class="bg-primary" id="action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ .Site.Params.action.headline }}</h2>
                <hr class="light">
                <p id="actionintro">{{ .Site.Params.action.intro | markdownify }}</p>
                <p><strong>{{ .Site.Params.action.demand | markdownify }}</strong></p>
                <p>{{ (replace (replace .Site.Params.action.description "$ORGS" (partial "functions/count_organisations.html" .) ) "$INDS" (partial "functions/count_signatures.html" .))  | markdownify }}</p>

                {{ partial "functions/sign-form.html" . }}
            </div>
        </div>
    </div>
</section>
